@font-face {
  font-family: 'Michroma';
  src: url(../fonts/michroma-v21-latin-regular.woff2) format("woff2"), url(../fonts/michroma-v21-latin-regular.woff) format("woff");
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Michroma', sans-serif;
  font-size: larger;
}

pre.times {
  font-family: times;
}

.desk {
  max-width: 72ch;
  line-height: 1.1;
  margin: 0;
  padding: 1rem;
  font-size: 0.9rem;
}
